.pageContainer {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 60px;
  .body {
    position: relative;
    p {
      margin: 0px;

      font-size: 56px;
      font-weight: 800;
      line-height: 1.3;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      span {
        margin-right: 12px;
        margin-bottom: 3px;
      }
      .mask {
        position: relative;
        overflow: hidden;
        display: inline-flex;
      }
    }
  }
}
.photoContainer {
  max-width: 800px;

  padding-top: 8rem;
  .photos {
    position: relative;
    display: flex;
    flex-direction: column;
    & p {
      margin: 0px;

      display: flex;
      flex-direction: row;
      &:nth-child(even) {
        margin-left: 200px;
      }
      &:nth-child(odd) {
        margin-right: 200px;
      }
      .mask {
        position: relative;
        overflow: hidden;
        display: inline-flex;
      }
    }
  }
  .photo {
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 400px;
    margin-top: -4rem;
  }
}

@media screen and (max-width: 800px) {
  .photoContainer .photo {
    width: 140px;
    margin-top: -2rem;
  }
  .photoContainer .photos p {
    &:nth-child(even) {
      margin-left: 140px;
    }
    &:nth-child(odd) {
      margin-right: 140px;
    }
  }
}
