$font: #26283b;
$background: #f2eeea;
$grey: #828282;
$iconBackground: #e6ded7;

.videoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;

  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  .iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: transparent;
    border-radius: 4px;
  }
}

.projectContainer {
  div,
  span {
    line-height: 180%;
  }
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  .project {
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    gap: 1rem;
    .projectTitle,
    .projectIntro {
      flex: 1 1 400px;
      display: flex;
      flex-direction: column;
    }
  }
  .subLabel {
    font-size: 1rem;
    color: $grey;
    margin-bottom: -0.2rem;
    font-weight: 300;
  }
  .title {
    font-size: 3rem;
    font-weight: 800;

    margin-bottom: 1rem;
    line-height: 120%;
  }
  .subTitle {
    font-weight: 500;
    margin-bottom: 0.4rem;
  }
  .number {
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.6rem;
  }
  .projectImg {
    width: 100%;
    img {
      width: 100%;
      max-width: 1440px;
      border-radius: 4px;
    }
    .inline {
      margin-bottom: 20px;
    }
    .slide {
      width: 100%;

      margin-bottom: 20px;
    }
  }
}

.projectContent {
  padding: 60px;

  .projectHighlight {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    gap: 2rem;
    & > div {
      flex: 1 1 240px;
      display: flex;
      flex-direction: column;
    }
  }

  .section {
    margin-top: 200px;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;

    .title {
      // position: sticky;
      // position: -webkit-sticky;
      top: 6rem;
      font-size: 3rem;
      font-weight: 800;
      height: fit-content;
      background-color: #101010;
      width: 100%;
    }

    .subSection {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 4rem;

      .subTitle {
        font-weight: 800;
        font-size: 1.6rem;
        line-height: 160%;
        margin-bottom: 1rem;
      }
      .subTitleSmall {
        font-weight: 800;
        font-size: 1rem;
        line-height: 160%;
        margin-bottom: 0.4rem;
      }
      .subDescription {
        margin-bottom: 1rem;
      }
    }
  }
}

.landingVideo {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

  .iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: transparent;
    border-radius: 4px;
  }
}
.description {
  a {
    color: #fff;
    display: inline-block;
    svg {
      margin-bottom: -6px;
    }
  }
}

.navigateButton {
  margin: 100px 60px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .arrow {
    border: solid $font;
    border-width: 0 2px 2px 0;
    display: inline-block;
    margin-top: 2px;
    padding: 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .arrowLine {
    position: absolute;
    top: 49px;
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: $font;
    transition: all 0.4s ease;
  }
  .arrowText {
    padding-left: 10px;
    transition: all 0.4s ease;
    color: $font;
    font-size: 2rem;
  }

  .buttonItem {
    position: relative;
    padding: 20px 0px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 800;
    transition: all 0.4s ease;
    &:hover {
      & .arrowLine {
        width: 100px;
      }
      & .arrowText {
        transition: all 0.4s ease;
      }
    }
  }

  & .previous {
    &.arrow {
      left: 0px;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
    & .arrowLine {
      left: 0px;
    }
    &:hover {
      & .arrowText {
        padding-left: 120px;
      }
    }
  }
  & .next {
    & .arrow {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    & .arrowLine {
      right: -2px;
    }
    & .arrowText {
      padding-right: 60px;
      transition: all 0.4s ease;
    }
    &:hover {
      & .arrowText {
        padding-right: 120px;
      }
    }
  }
}
.right {
  justify-content: flex-end;
}

.arrowContainer {
  display: flex;
  align-items: center;
  & > span {
    font-weight: 600;
  }
}
@media (max-width: 1119px) {
  .projectContentContainer {
    margin: 160px auto 0px;
    padding: 0px 40px;
  }
}
@media (max-width: 800px) {
  .projectContent {
    .sectionContentContainer {
      flex-direction: column;

      .sectionContentItem {
        width: 100%;
      }
    }
  }
}
