.decorContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -50%);
}
.face {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .eyeContainer {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    height: 20px;
    width: 20px;
    .eye {
      position: relative;
      width: 4px;
      height: 4px;
      display: block;
      border-radius: 50%;
      margin: 10px 10px;

      &::before {
        content: '';
        position: absolute;

        left: 6px;
        transform: translate(-50%, -50%);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #101010;
      }
    }
  }

  .mouth {
    position: absolute;
    width: 20px;
    height: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid #101010;
    border-bottom: 0;
    rotate: 180deg;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 50px;
    left: 30px;
    transition: 0.3s ease all;
  }
}
.circlesContainer {
  position: relative;
  width: 1000px;
  height: 1000px;
  .circle {
    width: 300px;
    height: 300px;
    border: 1px solid rgba($color: #fff, $alpha: 0.2);
    border-radius: 100%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &.one {
      width: 1000px;
      height: 1000px;

      transform-origin: 0% 0%;
      animation: orbit 20s linear infinite;
      &::after {
        width: 8px;
        height: 8px;
        content: '';
        background-color: rgb(255, 166, 141);
        border-radius: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -4px;
      }
    }
    &.two {
      width: 750px;
      height: 750px;
      transform-origin: 0% 0%;
      animation: orbit 30s linear infinite;
      &::after {
        width: 10px;
        height: 10px;
        content: '';
        background-color: #ffad41;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -5px;
      }
    }
    &.three {
      width: 500px;
      height: 500px;
      transform-origin: 0% 0%;
      animation: orbitReverse 20s linear infinite;
      &::after {
        width: 15px;
        height: 15px;
        content: '';
        background-color: #69d4ff;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -7.5px;
      }
    }
    &.four {
      width: 300px;
      height: 300px;

      transform-origin: 0% 0%;
      animation: orbit 15s linear infinite;
      &::after {
        width: 12px;
        height: 12px;
        content: '';
        background-color: #8eff32;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -8px;
      }
    }
    &.five {
      width: 150px;
      height: 150px;
    }
  }
  .astronaut {
    position: absolute;
    top: 50%;
    transform: translateY(-55px);
    left: 420px;
    & svg path {
      stroke-linecap: round;
    }
  }
}
.bigCirclesContainer {
  .circle {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba($color: #fff, $alpha: 0.2);
    border-radius: 100%;

    &.one {
      left: 400px;
      top: -300px;
      width: 1200px;
      height: 1200px;
    }
    &.two {
      left: -600px;
      top: 100px;
      width: 1200px;
      height: 1200px;
    }
  }
}

// Animations
@keyframes orbit {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
@keyframes orbitReverse {
  0% {
    rotate: 180deg;
  }

  100% {
    rotate: -180deg;
  }
}

@keyframes blink {
  0% {
    scale: 1;
  }
  10% {
    scale: 0.4;
  }
  20% {
    scale: 1;
  }
  100% {
    scale: 1;
  }
}
