.projectContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 10vw;
  height: 100vh;
  &.leftAlign {
    justify-content: flex-start;
  }
}
.titleContainer {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  .content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: 700px;
    gap: 20px;
    flex-direction: column;
    position: relative;
    &.leftAlign {
      align-items: flex-start;
    }
    div {
      margin: 0px;
      font-size: 40px;
      gap: 8px;
      line-height: 1.3;

      .mask {
        position: relative;
        overflow: hidden;
        display: inline-flex;
      }
      .pictureContainer {
        width: 700px;
        height: auto;
        & img {
          border-radius: 16px;
          width: 100%;
          height: 100%;
        }
      }
      span {
        font-size: 58px;
        font-weight: 800;
        margin: 0;
      }
      .portal:nth-child(7) {
        margin-right: 20px;
      }
      .mapper:nth-child(6) {
        margin-right: 20px;
      }
      .library:nth-child(9) {
        margin-right: 20px;
      }
    }
    p {
      margin: 0px;
      font-size: 16px;
      line-height: 1.3;
      display: flex;
      flex-direction: row;
      //  justify-content: center;
      flex-wrap: wrap;
      span {
        margin-right: 3px;
        margin-bottom: 3px;
      }
      .mask {
        position: relative;
        overflow: hidden;
        display: inline-flex;
      }
    }
  }
  .imgContainer {
    position: relative;

    .portalBall {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: -30%;
      transform: translateY(-50%);
    }
    .peerviewBall {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: -30%;
      transform: translateY(-50%);
    }
    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      border-radius: 100%;
      top: 50%;
      left: -40%;
      transform: translateY(-50%);
      width: 300px;
      height: 300px;
      border: 1px solid rgba($color: #fff, $alpha: 0.2);
    }
    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      border-radius: 100%;
      top: 50%;
      left: -55%;
      transform: translateY(-50%);
      width: 500px;
      height: 500px;
      border: 1px solid rgba($color: #fff, $alpha: 0.2);
    }
  }

  .leftImgContainer {
    position: relative;

    .mapperBall {
      position: absolute;
      z-index: -1;
      top: 50%;
      right: -30%;
      transform: translateY(-50%);
    }

    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      border-radius: 100%;
      top: 50%;
      right: -40%;
      transform: translateY(-50%);
      width: 300px;
      height: 300px;
      border: 1px solid rgba($color: #fff, $alpha: 0.2);
    }
    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      border-radius: 100%;
      top: 50%;
      right: -55%;
      transform: translateY(-50%);
      width: 500px;
      height: 500px;
      border: 1px solid rgba($color: #fff, $alpha: 0.2);
    }
  }
}

.starsContainer {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  .star {
    position: absolute;
    &:nth-child(even) {
      animation: blink 1s linear infinite;
    }
  }
  .smallCircle {
    position: absolute;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 1px solid rgba($color: #fff, $alpha: 0.2);
  }
}

@keyframes blink {
  0% {
    scale: 1;
  }
  10% {
    scale: 0.4;
  }
  20% {
    scale: 1;
  }
  100% {
    scale: 1;
  }
}
