.landingContainer {
  height: 100vh;
}

.intro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 60px;

  .body {
    padding-right: 100px;
    max-width: 600px;
    gap: 20px;
    flex-direction: column;
    position: relative;
    padding-top: 100px;
    p {
      margin: 0px;

      font-size: 32px;
      font-weight: 800;
      line-height: 1.3;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      span {
        margin-right: 3px;
        margin-bottom: 3px;
      }
      .mask {
        position: relative;
        overflow: hidden;
        display: inline-flex;
      }
    }
  }
  .labels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    .label {
      font-size: 14px;
      color: #fff;

      padding: 8px 20px;
      border-radius: 100px;
      border: 1px solid #fff;
    }
  }
  svg path {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    stroke-width: 4px;
    stroke: #fff;
    fill: none;
    stroke-linecap: round;
  }
}
