.landingContainer {
  height: 100vh;
}

.intro {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 60px;

  .body {
    max-width: 600px;
    position: relative;
    padding-top: 100px;
    margin: 0 20px;
    p {
      margin: 0px;
      margin-top: 40px;

      font-size: 32px;
      font-weight: 800;
      line-height: 1.3;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      span {
        margin-right: 3px;
        margin-bottom: 3px;
      }
      .mask {
        position: relative;
        overflow: hidden;
        display: inline-flex;
      }
    }
  }

  svg path {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    stroke-width: 4px;
    stroke: #fff;
    fill: none;
    stroke-linecap: round;
  }
}
